@using Pozoriste_Seminarski_.Helper
@using Pozoriste.EntityModels

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

@{
    KorisnickiNalog logiraniAdmin = Context.GetLogiraniKorisnik();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href="~/vendor/fontawesome-free/css/all.min.css">

    <!-- Page level plugin CSS-->
    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">

    <link href="https://cdn3.iconfinder.com/data/icons/points-of-interest-1/24/theatre_points_of_interest_gps_map_place_location_direction-512.png" rel="shortcut icon" type="image/png">

    <link href="/Content/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="/Content/Tabele.css" rel="stylesheet">
    <link href="/co/Site.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/css/footer.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/dropDownMenu.css">


    <script>
        window.console = window.console || function (t) { };
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>

    <script src="~/js/site.js"></script>

    <script src="/lib/jquery/dist/jquery.js"></script>

    <script src="~/js/jsFIT.js"></script>



</head>
<body>
    <div>
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a class="navbar-brand mr-1" href="/Home/Index">Početna</a>
            <ul class=" d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2">
           
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>
                        <span style="color:#fff;border-bottom:1px solid #007bff">@logiraniAdmin.Username</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Logout">
                            @if (logiraniAdmin?.Username != null)
                            {
                                <label>Odjavi se</label>
                            }
                            else
                            {
                                <label>Login</label>
                            }
                        </a>

                    </div>
                </li>
            </ul>

        </nav>

        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="sidebar navbar-nav" style="background-color:#313438" >
              
                <li class="nav-item dropdown d-lg-none">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Pages</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <h6 class="dropdown-header">Login Screens:</h6>
                        <a class="dropdown-item" href="login.html">Login</a>
                        <a class="dropdown-item" href="register.html">Register</a>
                        <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Other Pages:</h6>
                        <a class="dropdown-item" href="404.html">404 Page</a>
                        <a class="dropdown-item" href="blank.html">Blank Page</a>
                    </div>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="charts.html">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Charts</span>
                    </a>
                </li>



                <li class="nav-item @(controllerName == "Grad" ? "active" : "")">
                    <div class="dropdown">
                        <div class="dropbtn">
                            <i class="fas fa-fw fa-city"></i>
                            <span>Gradovi</span>
                        </div>
                        <div class="dropdown-content">
                            <a href="/Grad/Prikazi">Prikaz gradova</a>
                            <a href="/Grad/Dodaj">Dodaj grad</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item @(controllerName == "Sala" ? "active" : "")">
                    <div class="dropdown">
                        <div class="dropbtn">
                            <i class="fas fa-fw fa-door-open"></i>
                            <span>Sale</span>
                        </div>
                        <div class="dropdown-content">
                            <a href="/Sala/Prikazi">Prikaz sala</a>
                            <a href="/Sala/Dodaj">Dodaj salu</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item @(controllerName == "Zanr" ? "active" : "")">
                    <div class="dropdown">
                        <div class="dropbtn">
                            <i class="fas fa-fw fa-theater-masks"></i>
                            <span>Žanrovi</span>
                        </div>
                        <div class="dropdown-content">
                            <a href="/Zanr/Prikazi">Prikaz žanrova</a>
                            <a href="/Zanr/Dodaj">Dodaj žanr</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item @(controllerName == "Kupac" ? "active" : "")">
                    <div class="dropdown">
                        <div class="dropbtn">
                            <i class="fas fa-fw fa-shopping-cart"></i>
                            <span>Kupci</span>
                        </div>
                        <div class="dropdown-content">
                            <a href="/Kupac/Prikazi">Prikaz kupaca</a>
                            <a href="/Kupac/Dodaj">Dodaj kupca</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item @(controllerName == "Predstava" ? "active" : "")">
                    <div class="dropdown">
                        <div class="dropbtn">
                            <i class="fas fa-fw fa-table"></i>
                            <span>Predstava</span>
                        </div>
                        <div class="dropdown-content">
                            <a href="/Predstava/Prikazi">Prikaz predstava</a>
                            <a href="/Predstava/Dodaj">Dodaj predstavu</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item @(controllerName == "Glumac" ? "active" : "")">
                    <div class="dropdown">
                        <div class="dropbtn">
                            <i class="fas fa-fw fa-user"></i>
                            <span>Glumci</span>
                        </div>
                        <div class="dropdown-content">
                            <a href="/Glumac/Prikazi">Prikaz glumaca</a>
                            <a href="/Glumac/Dodaj">Dodaj glumca</a>
                        </div>
                    </div>
                </li>


                <li class="nav-item @(controllerName == "Prikazivanje" ? "active" : "")">
                    <div class="dropdown">
                        <div class="dropbtn">
                            <i class="fas fa-fw fa-clock"></i>
                            <span>Prikazivanja</span>
                        </div>
                        <div class="dropdown-content">
                            <a href="/Prikazivanje/Prikazi">Prikaz prikazivanja</a>
                            <a href="/Prikazivanje/Dodaj">Dodaj prikazivanje</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item @(controllerName == "Rezervacija" ? "active" : "")">
                    <div class="dropdown">
                        <div class="dropbtn">
                            <i class="fas fa-fw fa-clipboard-check"></i>
                            <span>Rezervacije</span>
                        </div>
                        <div class="dropdown-content">
                            <a href="/Rezervacija/Prikazi">Prikaz rezervacija</a>
                            <a href="/Rezervacija/Dodaj">Dodaj rezervaciju</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item @(controllerName == "Novosti" ? "active" : "")">
                    <div class="dropdown">
                        <div class="dropbtn">
                            <i class="fas fa-fw fa-newspaper"></i>
                            <span>Novosti</span>
                        </div>
                        <div class="dropdown-content">
                            <a href="/Novosti/Prikazi">Prikaz novosti</a>
                            <a href="/Novosti/Dodaj">Dodaj novost</a>
                        </div>
                    </div>
                </li>


                <li class="nav-item @(controllerName == "Komentar" ? "active" : "")">
                    <div class="dropdown">
                        <div class="dropbtn">
                            <i class="fas fa-comments"></i>
                            <span>Komentari </span>
                        </div>
                        <div class="dropdown-content">
                            <a href="/Komentar/Prikazi">Prikaz komentara</a>
                        </div>
                    </div>
                </li>
            </ul>

            <div id="content-wrapper">

                <div class="container-fluid">

                    @RenderBody()

                </div>
             
                <br /><br />
              
                <footer class="sticky-footer" style="border-top:#007bff solid 2px;">
                    <div class="container my-auto">

                        <div class="copyright text-center my-auto">
                            <h6> Narodno pozoriste</h6>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <a class="scroll-to-top rounded" href="#page-top" style="background-color:#007bff;" id="toTop">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Page level plugin JavaScript-->
        <script src="~/vendor/chart.js/Chart.min.js"></script>
        <script src="~/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/js/sb-admin.min.js"></script>


        <!-- Demo scripts for this page-->
        <script src="~/js/demo/datatables-demo.js"></script>
        <script src="~/js/demo/chart-area-demo.js"></script>

    </div>
</body>
</html>


<script>
    $('#toTop').click(function () {
        $('html, body').animate({ scrollTop: 0 }, 800);
        return false;
    });
</script>
